VersePrompt.zip
vprompt.map
vprompt
_notes.txt
.dub
cf.bat
*.bmp
*.jec
.DS_Store
*.lst
*.txt
*.html
dub.selections.json
dub.userprefs
sections
fonts
*.ttf
*.def
*.obj
gleaned.txt
glean.txt
history.txt

